.grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 16px;
    row-gap: 40px;
    background-color: white;
    margin-top: 0;
}
.grid a{
    text-decoration: none;
  }

  
  @media (max-width: 750px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  
  @media (min-width: 751px) and (max-width: 999px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 1000px) {
    .grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
