/* CSS */
.video-column {
  display: flex;
  flex-direction: column;
  column-gap: 0;
}

.video-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 10%; /* Aspect ratio of 4:3 */
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
